<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suraj.missedcall">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NETWORK" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Otp"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MessageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".MissedcallActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ProfileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:windowSoftInputMode="adjustResize"
            android:name=".HomeActivityy"
            android:screenOrientation="portrait"  />

        <activity
            android:name=".MissedCallDetail"
            android:screenOrientation="portrait" /> >



        <activity
            android:name=".SettingActivity"
            android:screenOrientation="portrait"  />


        <activity
            android:name=".AccountActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".CampaignActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".GetMissedCallActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".GetMissedCallDetail"
            android:screenOrientation="portrait"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <receiver android:name=".SmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>